body
{
    background-color: rgb(161, 161, 161);
}
.navbar
{
    position: relative;
    width: 1520px;
    height: 50px;
    transition: all 0.9s ease-in-out;
    background-color: rgb(207, 207, 207);
    box-shadow: 10px 10px 20px;
    border-radius: 200pc;
}

.navbar-elements
{
    position: relative;
    left: 50px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -2px;
}
.navbar-elements:hover
{
    position: relative;
    left: 50px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -2px;
}
