body
{
    background-color: rgb(161, 161, 161);
}
.navbar
{
    position: relative;
    display: flex;
    width: 1520px;
    height: 50px;
    transition: all 0.9s ease-in-out;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 10px 20px;
    align-items: center;    
    border-radius: 12px;
}


.pos
{
    position: relative;
    left: 20px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pos1
{
    position: relative;
    left: 70px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pos2
{
    position: relative;
    left: 130px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.pos3
{
    position: relative;
    left: 180px;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img
{
height: 1520px;
}